<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club Home Screen</title>
    <link rel="stylesheet" href="dynamic.css">
</head>
<body>
    <header class="header">
    {% block header %}
    {% endblock %} 
    </header>
 

    {% block content %} 
    {% endblock %}

    <footer class="footer">
        <p>&copy; 2024 Club Name. All rights reserved.</p>
    </footer>


</body>
</html>