body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.main-title {
    font-size: 2.5em; /* Font size */
    color: #333; /* Text color */
    text-align: center; /* Center align text */
    margin-top: 20px; /* Space above the title */
    margin-bottom: 10px; /* Space below the title */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Text shadow */
}


.sub-title {
    font-size: 1.5em; /* Font size */
    color: #666; /* Text color */
    text-align: center; /* Center align text */
    margin-bottom: 20px; /* Space below the subtitle */
    font-weight: lighter; /* Lighter font weight */
}

.chat-container {
    width: 300px;
    height: 400px;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
}

.chat-body {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
}

.message.received {
    background-color: #f1f0f0;
    align-self: flex-start;
}

.message.sent {
    background-color: #007bff;
    color: #fff;
    align-self: flex-end;
}

.chat-footer {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #f9f9f9;
}

.chat-footer input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 14px;
}

.chat-footer button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}

.chat-footer button:hover {
    background-color: #0056b3;
}